/StringMetodusGyak/nbproject/private/
/StringMetodusGyak/build/
/1025StringMetodusDoga/nbproject/private/
/1025StringMetodusDoga/build/
/1028/nbproject/private/
/1028/build/
/ArrayListPelda/nbproject/private/
/ArrayListPelda/build/
/ArrayListPelda/dist/
/KarakterMetodusok/nbproject/private/
/KarakterMetodusok/build/
/Szemelyigazolvany/nbproject/private/
/Szemelyigazolvany/build/
/MetodusGyak/nbproject/private/
/MetodusGyak/build/
/MetodusGyak-11-29/nbproject/private/
/MetodusGyak-11-29/build/
/Gyakorlas2022-12-19/nbproject/private/
/Gyakorlas2022-12-19/build/
/Szigetek/nbproject/private/
/Szigetek/build/
/BastiDomonkos/nbproject/private/
/BastiDomonkos/build/
/2Dtomb/nbproject/private/
/2Dtomb/build/
/MatrixFuggvenyek/nbproject/private/
/MatrixFuggvenyek/build/
/2023-02-07/nbproject/private/
/2023-02-07/build/
/NetMentesGyakorlat/nbproject/private/
/NetMentesGyakorlat/build/
/DolgozatGyak230228/nbproject/private/
/DolgozatGyak230228/build/
/Dolgozat0301/nbproject/private/
/Dolgozat0301/build/
/NullValue/nbproject/private/
/NullValue/build/
/FileBeolvasas/nbproject/private/
/FileBeolvasas/build/
/SzamokBeolvasas/nbproject/private/
/SzamokBeolvasas/build/
/BeolvasasSorokszama/nbproject/private/
/BeolvasasSorokszama/build/
/Fajlbeolvasas2/nbproject/private/
/Fajlbeolvasas2/build/
/fajl2/nbproject/private/
/fajl2/build/
/Fajlbeolvasas0329/nbproject/private/
/Fajlbeolvasas0329/build/
/Basti-Domonkos/nbproject/private/
/Basti-Domonkos/build/
/lift/nbproject/private/
/lift/build/
/Mondasok/nbproject/private/
/Mondasok/build/
/SzovegManipulacio/nbproject/private/
/SzovegManipulacio/build/
/SzovegManipulacio/dist/
/Filmkatalogus/nbproject/private/
/Filmkatalogus/build/
/Rectangle/nbproject/private/
